<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Contact || Drivekraft - Lending ears across the globe. Free Mental
      HealthCare Session
    </title>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="Indian Mental HealthCare StartUp Working on making Mental Health Servies Affordable for everyone . WE provide Free Mental HealthCare Session across the globe"
    />

    <meta
      name="keywords"
      content="moodle, Drivekraft Affordable Online Therapy for Mental HealthCare"
    />
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/x-icon" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />


    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- Swiper CSS -->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/swiper.min.css') }}" />

    <!-- Styles -->
    <!-- Stylesheet Main -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleweb.css') }}" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
    />
  </head>

  <body class="single-page" style="box-sizing: border-box !important;" >
    <header class="site-header">
      <div class="nav-bar">
        <div class="container">
          <div class="row">
            <div
              class="
                col-12
                d-flex
                flex-wrap
                justify-content-between
                align-items-center
              "
            >
              <div class="site-branding d-flex align-items-center">
                <a class="d-block" href="index.html" rel="home"
                  ><img class="d-block" src="{{ url_for('static', filename='images/logo.png') }}" alt="logo"
                /></a>
              </div>
              <!-- .site-branding -->

              <nav
                class="
                  site-navigation
                  d-flex
                  justify-content-end
                  align-items-center
                "
              >
                <ul
                  class="
                    d-flex
                    flex-column flex-lg-row
                    justify-content-lg-end
                    align-items-center
                  "
                >
                  <li><a href="index.html">Home</a></li>
                  <li><a href="about.html">About Us</a></li>
                  <!-- <li><a href="services.html">Services</a></li>
                                <li><a href="news.html">News</a></li> -->
                  <li class="current-menu-item">
                    <a href="contact.html">Contact Us</a>
                    <li><a href="blog.html"> Our Blogs</a></li>
                  </li>

                  <li class="call-btn button gradient-bg mt-3 mt-md-0">
                    <a
                      class="d-flex justify-content-center align-items-center"
                      href="https://linktr.ee/drivekraft"
                      target="_blank"
                      ><img src="{{ url_for('static', filename='images/emergency-call.png') }}" /> Book Appointment
                    </a>
                  </li>
                </ul>
              </nav>
              <!-- .site-navigation -->

              <div class="hamburger-menu d-lg-none">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
              <!-- .hamburger-menu -->
            </div>
            <!-- .col -->
          </div>
          <!-- .row -->
        </div>
        <!-- .container -->
      </div>
      <!-- .nav-bar -->
    </header>
    <!-- .site-header -->

    <div class="med-history">
      <div class="container">
        <div class="row align-items-end">
          <div class="col-12 col-lg-6">
            <h2 class="animate__animated wow animate__fadeInUp">Contact</h2>
            <p class="animate__animated wow animate__fadeInUp">
              Taking the first step towards your Mental HealthCare is always the
              hardest one . Don’t worry, we are with you at every step of the
              way. <br />
              Contact us for all your needs.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="contact-page-short-boxes1">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-4">
            <div
              class="contact-info h-100 animate__animated wow animate__fadeInUp"
            >
              <h2 class="d-flex align-items-center">Contact Info</h2>

              <ul class="p-0 m-0">
                <li>
                  <span>Address:</span>Steps Building, Thapar Institute of
                  Engineering and technology, Patiala, Punjab
                </li>
                <li><span>Phone:</span>+91-8284990439</li>
                <li><span>Email:</span>drivekraft@gmail.com</li>
              </ul>
            </div>
          </div>

          <div class="col-12 col-md-4 mt-5 mt-lg-0">
            <div
              class="
                opening-hours
                h-100
                animate__animated
                wow
                animate__fadeInUp
              "
            >
              <h2 class="d-flex align-items-center">Opening Hours</h2>

              <ul class="p-0 m-0">
                <li>Monday - Thursday <span>15:00 - 19:00</span></li>
                <li>Friday <span> 14:00 - 18:30</span></li>
                <li>Saturday <span>14:30 - 19.00</span></li>
                <li>Sunday <span>4:00 - 19.00</span></li>
              </ul>
            </div>
          </div>

          <div class="col-12 col-md-4 mt-5 mt-lg-0">
            <div
              class="
                emergency-box
                h-100
                animate__animated
                wow
                animate__fadeInUp
              "
            >
              <h2 class="d-flex align-items-center">Emergency</h2>

              <div class="call-btn search button gradient-bg mt-3 mt-md-0">
                <a
                  class="d-flex justify-content-center align-items-center"
                  href="#"
                >
                  <img src="{{ url_for('static', filename='images/emergency-call.png') }}" />
                  Book Appointment
                </a>
              </div>

              <p>
                Click to schedule a fully confidential, secure and counselling
                with us.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

 

    <div class="container" style="padding: 90px 0 10px; overflow-x: hidden;">
      <div class="row">
        <div class="col-12">
          <div class="contact-page-map animate__animated wow animate__fadeInUp">
            <iframe
              id="gmap-canvas"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3442.8072008410213!2d76.36251251489465!3d30.356428810722107!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391028ab86533db5%3A0x93cc1f72eae1c9a8!2sTIET%20-%20Thapar%20Institute%20of%20Engineering%20And%20Technology!5e0!3m2!1sen!2sin!4v1598626362374!5m2!1sen!2sin"
              width="600"
              height="450"
              frameborder="0"
              style="border: 10px; border-color: #f9b45c; border-radius: 40px;"
              allowfullscreen=""
              aria-hidden="false"
              tabindex="0"
            ></iframe>
          </div>
          <!-- map -->
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="site-footer">
      <div class="footer-widgets">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
              <div class="foot-about">
                <h2 class="animate__animated wow animate__fadeInUp">
                  <a href="#"><img src="{{ url_for('static', filename='images/logo.png') }}" /></a>
                </h2>

                <p class="animate__animated wow animate__fadeInUp">
                  Lending ears across The Globe
                </p>
                <ul class="list-unstyled mt-2">
                  <li
                    id="footerli"
                    class="
                      ftco-animate
                      fadeInUp
                      ftco-animated
                      animate__animated
                      wow
                      animate__fadeInUp
                    "
                    style="padding: 5px"
                  >
                    <a href="https://twitter.com/drivekraft?s=09"
                      ><span class="fa fa-twitter"></span
                    ></a>
                  </li>
                  <li
                    id="footerli"
                    class="
                      ftco-animate
                      fadeInUp
                      ftco-animated
                      animate__animated
                      wow
                      animate__fadeInUp
                    "
                    style="padding: 5px"
                  >
                    <a
                      href="https://m.facebook.com/profile.php?id=100274821373124&amp;ref=content_filter"
                      ><span class="fa fa-facebook"></span
                    ></a>
                  </li>
                  <li
                    id="footerli"
                    class="
                      ftco-animate
                      fadeInUp
                      ftco-animated
                      animate__animated
                      wow
                      animate__fadeInUp
                    "
                    style="padding: 5px"
                  >
                    <a
                      href="https://instagram.com/drivekraft?igshid=13zqwmhvhypxc"
                      ><span class="fa fa-instagram"></span
                    ></a>
                  </li>
                </ul>
                <p class="copyright animate__animated wow animate__fadeInUp">
                  Copyright &copy;
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  All rights reserved
                </p>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-2 mt-md-0">
              <div class="foot-contact">
                <h2 class="animate__animated wow animate__fadeInUp">Contact</h2>

                <ul class="p-0 m-0 animate__animated wow animate__fadeInUp">
                  <li>
                    <span>Address:</span>Steps Building, Thapar Institute of
                    Engineering and technology, Patiala, Punjab
                  </li>
                  <li><span>Phone:</span>+91-8284990439</li>
                  <li><span>Email:</span>drivekraft@gmail.com</li>
                </ul>
              </div>
            </div>
            <!-- .col -->

            <div class="col-12 col-md-6 col-lg-4 mt-2 mt-md-0">
              <div class="foot-links">
                <h2 class="animate__animated wow animate__fadeInUp">
                  Important Links
                </h2>
                <ul class="p-0 m-0 animate__animated wow animate__fadeInUp">
                  <li><a href="terms.html">Terms And Conditions</a></li>
                  <li><a href="privacyPolicy.html">Privacy Policy</a></li>
                  <li><a href="refundPolicy.html">Refund & Cancellation</a></li>
                </ul>

                <h2 class="animate__animated wow animate__fadeInUp">Blogs</h2>

                <ul class="p-0 m-0 animate__animated wow animate__fadeInUp">
                  <li>
                    <a
                      href="https://oneteenagedream.wordpress.com/2018/12/02/change/"
                      >Change</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://oneteenagedream.wordpress.com/2018/09/21/e-go/"
                      >E-Go!</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://oneteenagedream.wordpress.com/2018/07/09/stop%f0%9f%9b%91look%e2%9c%89%ef%b8%8fgo%e2%9c%94%ef%b8%8f/"
                      >Stop Look Go</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://drivekraft.home.blog/2020/09/09/youre-not-alone/"
                      >You’re not alone</a
                    >
                  </li>
                </ul>
              </div>
              <!-- .foot-links -->
            </div>
            <!-- .col -->
          </div>
          <!-- .row -->
        </div>
        <!-- .container -->
      </div>
      <!-- .footer-widgets -->
    </footer>
    <!-- .site-footer -->

     <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.collapsible.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/swiper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.countdown.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/circle-progress.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.countTo.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.barfiller.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
    <script>
      new WOW().init();
    </script>
  </body>
</html>
