<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CGYJN9NTJL"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-CGYJN9NTJL');
    </script>

    <title>
      Drivekraft - Lending ears across the globe. Free Mental HealthCare Session
    </title>

    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="Indian Mental HealthCare StartUp Working on making Mental Health Servies  Affordable and Accessible for everyone. WE provide  Mental HealthCare Services across the globe"
    />
    <meta
      name="keywords"
      content="moodle, Drivekraft Free Online Therapy for Mental HealthCare"
    />

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/x-icon" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/swiper.min.css') }}" />

    <!-- Animate.css -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
    />

    <!-- Stylesheet Main -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleweb.css') }}" />

    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

  </head>

  <body onload="priceupdate()">
    <header class="site-header section index">
      <div class="nav-bar">
        <div class="container">
          <div class="row">
            <div
              class="
                col-12
                d-flex
                flex-wrap
                justify-content-between
                align-items-center
              "
            >
              <div class="site-branding d-flex align-items-center">
                <a class="d-block" href="index.html" rel="home"
                  ><img class="d-block" src="{{ url_for('static', filename='images/logo.png') }}" alt="logo"
                /></a>
              </div>
              <!-- .site-branding -->

              <nav
                class="
                  site-navigation
                  d-flex
                  justify-content-end
                  align-items-center
                "
              >
                <ul
                  class="
                    d-flex
                    flex-column flex-lg-row
                    justify-content-lg-end
                    align-items-center
                  "
                >
                  <li class="current-menu-item">
                    <a href="index.html">Home</a>
                  </li>
                  <li>
                    <a href="about.html">About Us</a>
                  </li>
                  <!-- <li><a href="services.html">Services</a></li>
                                <li><a href="news.html">News</a></li> -->
                  <li><a href="contact.html">Contact Us</a></li>
                  <li><a href="blog.html"> Our Blogs</a></li>

                  <li class="call-btn button gradient-bg mt-3 mt-md-0">
                    <a
                      class="d-flex justify-content-center align-items-center"
                      href="https://linktr.ee/drivekraft"
                      target="_blank"
                      ><img src="{{ url_for('static', filename='images/emergency-call.png') }}" /> Book Appointment

                    </a>
                  </li>
                </ul>
              </nav>
              <!-- .site-navigation -->
              <div class="hamburger-menu d-lg-none">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
              <!-- .hamburger-menu -->
            </div>
            <!-- .col -->
          </div>
          <!-- .row -->
        </div>
      </div>

      <div class="swiper-container hero-slider">
        <div class="swiper-wrapper">
          <div
            id="header-img"
            class="swiper-slide hero-content-wrap"
            style="
              background-image: linear-gradient(
                  rgba(255, 255, 255, 0.8),
                  rgba(255, 255, 255, 0.3)
                ),
                url({{ url_for('static', filename='images/herofin.png') }});
            "
          >
            <div class="hero-content-overlay position-absolute w-100 h-100">
              <div class="container h-100">
                <div class="row h-100">
                  <div
                    class="
                      col-12 col-lg-6
                      d-flex
                      flex-column
                      justify-content-center
                      align-items-start
                    "
                  >
                    <div class="layer">
                      <header class="entry-header">
                        <br />
                        <br />
                        <br />

                        <h1 class="animate__animated wow animate__fadeInUp">
                          Unlock Anonymity, Share Freely
                        </h1>
                      </header>
                      <!-- .entry-header -->

                      <div class="entry-content mt-4">
                        <h2
                          class="
                            animate__animated
                            wow
                            animate__fadeInUp
                            color-grey
                          "
                        >
                          Lending ears across The Globe
                        </h2>

                        <!-- .entry-content -->

                        <footer
                          class="
                            entry-footer
                            d-flex
                            flex-wrap
                            align-items-center
                            mt-4
                          "
                        >
                          <a
                            href="blog.html"
                            class="button gradient-bg mt-4 none"
                            >Our Blogs</a
                          >
                          <a href="about.html" class="button gradient-bg mt-4"
                            >Read More</a
                          >
                        </footer>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Features Section -->
    <section class="features">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="features-wrap animate__animated wow animate__fadeInUp">
              <h2 class="animate__animated wow animate__fadeInUp">Features</h2>

              <div class="row">
                <div
                  class="
                    col-12 col-md-6 col-lg-4
                    animate__animated
                    wow
                    animate__fadeInUp
                  "
                >
                  <div
                    class="
                      features-cont
                      animate__animated
                      wow
                      animate__fadeInUp
                    "
                  >
                    <div class="features-image">
                      <img
                        src="{{ url_for('static', filename='images/features-section/free.png') }}"
                        alt="an icon"
                      />
                    </div>
                    <br />
                    <header class="entry-header flex-wrap align-items-center">
                      <h3
                        class="
                          text-center
                          animate__animated
                          wow
                          animate__fadeInUp animate__animated
                          wow
                          animate__fadeInUp
                        "
                      >
                        <a  href="https://www.facebook.com/groups/1479654902391457" style="color: white;">Free Community Support</a>
                      </h3>
                    </header>
                    <div class="entry-content">
                      <p class="animate__animated wow animate__fadeInUp">
                        Clear all your queries and concerns from experts for free.
                        Click <a href="https://www.facebook.com/groups/1479654902391457" style="color: white;">here</a> to join the community
                      </p>
                    </div>
                  </div>
                </div>

                <div
                  class="
                    col-12 col-md-6 col-lg-4
                    animate__animated
                    wow
                    animate__fadeInUp
                  "
                >
                  <div class="features-cont">
                    <div
                      class="
                        features-image
                        animate__animated
                        wow
                        animate__fadeInUp
                      "
                    >
                      <img
                        src="{{ url_for('static', filename='images/features-section/flexibility.png') }}"
                        alt="an icon"
                      />
                    </div>
                    <br />
                    <header class="entry-header flex-wrap align-items-center">
                      <h3
                        class="
                          text-center
                          animate__animated
                          wow
                          animate__fadeInUp
                        "
                      >
                        Flexible
                      </h3>
                    </header>

                    <div class="entry-content">
                      <p class="animate__animated wow animate__fadeInUp">
                        Choose time and mode of session as per your convenience
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                  <div
                    class="
                      features-cont
                      animate__animated
                      wow
                      animate__fadeInUp
                    "
                  >
                    <div
                      class="
                        features-image
                        animate__animated
                        wow
                        animate__fadeInUp
                      "
                    >
                      <img
                        src="{{ url_for('static', filename='images/features-section/affordable.png') }}"
                        alt="an icon"
                      />
                    </div>
                    <br />
                    <header class="entry-header flex-wrap align-items-center">
                      <h3
                        class="
                          text-center
                          animate__animated
                          wow
                          animate__fadeInUp
                        "
                      >
                        Affordable
                      </h3>
                    </header>
                    <div class="entry-content">
                      <p class="animate__animated wow animate__fadeInUp">
                        Get your session at just <strong id="price">$25/-</strong>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex-container btn-book mt-4">
                <div class="call-btn button gradient-bg1 mt-3 mt-md-0">
                  <a
                    class="d-flex justify-content-center align-items-center"
                    href="https://linktr.ee/drivekraft"
                    target="_blank"
                    ><img src="{{ url_for('static', filename='images/emergency-call.png') }}" />Book Appointment</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Stats Section -->
    <section class="stats-section text-center mt-4">
      <div class="container">

        <div class="row">
          <div class="col-12">
            <h2 class="animate__animated wow animate__fadeInUp">Stats</h2>
          </div>
        </div>

      </div>

      <div class="flex-container">
        <div class="stat animate__animated wow animate__fadeInUp">
          <img src="{{ url_for('static', filename='images/stats-section/customer.png') }}" alt="customer" />
          <h4 class="mt-4">Team Size</h4>
          <h3 class="counter" data-target="14">0</h3>
        </div>

        <div class="stat animate__animated wow animate__fadeInUp">
          <img
            src="{{ url_for('static', filename='images/stats-section/consultation.png') }}"
            alt="consultation"
          />
          <h4 class="mt-4">Number of Clients</h4>
          <h3 class="counter" data-target="1015">0</h3>
        </div>

        <div class="stat animate__animated wow animate__fadeInUp">
          <img src="{{ url_for('static', filename='images/stats-section/countries.png') }}" alt="countries" />
          <h4 class="mt-4">Countries</h4>
          <h3 class="counter" data-target="16">0</h3>
        </div>


      <div class="stat animate__animated wow animate__fadeInUp">
          <img src="{{ url_for('static', filename='images/stats-section/star.png') }}" alt="ratings" width="128" height="128"/>

          <h4 class="mt-4">Average Rating</h4>
          <h3 class="counter" data-target="4.47">0</h3>
      </div>

   </div>

    </section>

    <!-- Testimonial Section -->
    <section
      class="testimonial-section animate__animated wow animate__fadeInUp"
    >
      <div class="container bg-greenish testimonial-container">
        <div class="row">
          <div class="col-lg-12">
            <h2>Testimonials</h2>
          </div>
          <div
            id="testimonial"
            class="carousel slide"
            data-ride="carousel"
            data-pause="hover"
            data-interval="5000"
          >
            <div class="carousel-inner">
              <!-- carousel item -->
              <div class="carousel-item active">
                <h4 class="testimonial-text">
                  "Amazing session by psychologist ###. She was empatic and open ...
                  Made things simpler easier... Helped with usual ethical and
                   wrong ethical thoughts about life and worlds... Examples were amazing"
                </h4>
                <div
                  class="
                    person-info
                    mt-4
                    d-flex
                    align-items-center
                    justify-content-center
                  "
                >
                  <img
                    class="testimonial-image"
                    src="{{ url_for('static', filename='images/testimonials-section/woman.png') }}"
                    alt="dog-profile"
                  />
                  <em>Female, USA</em>
                </div>
              </div>

              <!-- carousel item -->`
              <div class="carousel-item">
                <h4 class="testimonial-text">
                  "The session is very good, the psychiatrist listened very well, thanks a lot for your support."
                </h4>
                <div
                  class="
                    person-info
                    mt-4
                    d-flex
                    align-items-center
                    justify-content-center
                  "
                >
                  <img
                    class="testimonial-image"
                    src="{{ url_for('static', filename='images/testimonials-section/man.png') }}"
                    alt="dog-profile"
                  />
                  <em>Male, India</em>
                </div>
              </div>

              <!-- carousel item -->
              <div class="carousel-item">
                <h4 class="testimonial-text">
                  "Its already good but if i have to say then i wnna say it
                  will be great if we are able to talk even after feeling
                  relax while talking"
                </h4>
                <div
                  class="
                    person-info
                    mt-4
                    d-flex
                    align-items-center
                    justify-content-center
                  "
                >
                  <img
                    class="testimonial-image"
                    src="{{ url_for('static', filename='images/testimonials-section/man.png') }}"
                    alt="dog-profile"
                  />
                  <em>Male, India</em>
                </div>
              </div>

              <!-- carousel item -->
              <div class="carousel-item">
                <h4 class="testimonial-text">
                  "It already amazing to have a person 1 o1 experience
                  and the session was already beyond my expectations .
                   Keep it up!"
                </h4>
                <div
                  class="
                    person-info
                    mt-4
                    d-flex
                    align-items-center
                    justify-content-center
                  "
                >
                  <img
                    class="testimonial-image"
                    src="{{ url_for('static', filename='images/testimonials-section/woman.png') }}"
                    alt="dog-profile"
                  />
                  <em>Female, India</em>
                </div>
              </div>

              <!-- carousel item -->
              <div class="carousel-item">
                <h4 class="testimonial-text">
                  "The session is really good and was at such a low price.
                   I'm so happy with the therapy and
                   ****** is really good and sweet"
                </h4>
                <div
                  class="
                    person-info
                    mt-4
                    d-flex
                    align-items-center
                    justify-content-center
                  "
                >
                  <img
                    class="testimonial-image"
                    src="{{ url_for('static', filename='images/testimonials-section/woman.png') }}"
                    alt="dog-profile"
                  />
                  <em>Female, United Kingdom</em>
                </div>
              </div>

              <!-- carousel item -->
              <div class="carousel-item">
                <h4 class="testimonial-text">
                  "Whole team is doing a nice job...keep motivating and
                  helping mentally suffering people like us🙏🙏"
                </h4>
                <div
                  class="
                    person-info
                    mt-4
                    d-flex
                    align-items-center
                    justify-content-center
                  "
                >
                  <img
                    class="testimonial-image"
                    src="{{ url_for('static', filename='images/testimonials-section/man.png') }}"
                    alt="dog-profile"
                  />
                  <em>Male, India</em>
                </div>
              </div>
            </div>
            <a
              class="carousel-control-prev"
              href="#testimonial"
              role="button"
              data-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </a>
            <a
              class="carousel-control-next"
              href="#testimonial"
              role="button"
              data-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- divider: book an appointment -->
    <div
      class="contact-page-short-boxes"
      style="
        background: linear-gradient(
          270deg,
          rgba(254, 128, 81, 1) 0%,
          rgba(249, 180, 92, 1) 100%
        );
      "
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-8 col-12 col-md-4 mt-5 mt-lg-0">
            <div
              class="
                emergency-box
                h-100
                animate__animated
                wow
                animate__fadeInUp
              "
            >
              <!-- <h2 class="d-flex align-items-center">Appointments</h2> -->
              <div class="call-btn button gradient-bg mt-4 mt-md-0">
                <a
                  class="d-flex justify-content-center align-items-center"
                  target="_blank"
                  href="https://linktr.ee/drivekraft"
                  ><img src="{{ url_for('static', filename='images/emergency-call.png') }}" /> Book Appointment</a
                >
              </div>
              <p
                style="text-align: center"
                class="animate__animated wow animate__fadeInUp"
              >
                Click to schedule a fully confidential, secure and free
                counselling with us.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="site-footer">
      <div class="footer-widgets">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
              <div class="foot-about">
                <h2 class="animate__animated wow animate__fadeInUp">
                  <a href="#"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" /></a>
                </h2>

                <p class="animate__animated wow animate__fadeInUp">
                  Lending ears across The Globe
                </p>
                <ul class="list-unstyled mt-2">
                  <li
                    id="footerli"
                    class="
                      ftco-animate
                      fadeInUp
                      ftco-animated
                      animate__animated
                      wow
                      animate__fadeInUp
                    "
                    style="padding: 5px"
                  >
                    <a href="https://twitter.com/drivekraft?s=09"
                      ><span class="fa fa-twitter"></span
                    ></a>
                  </li>
                  <li
                    id="footerli"
                    class="
                      ftco-animate
                      fadeInUp
                      ftco-animated
                      animate__animated
                      wow
                      animate__fadeInUp
                    "
                    style="padding: 5px"
                  >
                    <a
                      href="https://m.facebook.com/profile.php?id=100274821373124&amp;ref=content_filter"
                      ><span class="fa fa-facebook"></span
                    ></a>
                  </li>
                  <li
                    id="footerli"
                    class="
                      ftco-animate
                      fadeInUp
                      ftco-animated
                      animate__animated
                      wow
                      animate__fadeInUp
                    "
                    style="padding: 5px"
                  >
                    <a
                      href="https://instagram.com/drivekraft?igshid=13zqwmhvhypxc"
                      ><span class="fa fa-instagram"></span
                    ></a>
                  </li>
                </ul>
                <p class="copyright animate__animated wow animate__fadeInUp">
                  Copyright &copy;
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  All rights reserved
                </p>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-2 mt-md-0">
              <div class="foot-contact">
                <h2 class="animate__animated wow animate__fadeInUp">Contact</h2>

                <ul class="p-0 m-0 animate__animated wow animate__fadeInUp">
                  <li>
                    <span>Address:</span>Steps Building, Thapar Institute of
                    Engineering and technology, Patiala, Punjab
                  </li>
                  <li><span>Phone:</span>+91-8284990439</li>
                  <li><span>Email:</span>drivekraft@gmail.com</li>
                </ul>
              </div>
            </div>
            <!-- .col -->

            <div class="col-12 col-md-6 col-lg-4 mt-2 mt-md-0">
              <div class="foot-links">
                <h2 class="animate__animated wow animate__fadeInUp">
                  Important Links
                </h2>
                <ul class="p-0 m-0 animate__animated wow animate__fadeInUp">
                  <li><a href="terms.html">Terms And Conditions</a></li>
                  <li><a href="privacyPolicy.html">Privacy Policy</a></li>
                  <li><a href="refundPolicy.html">Refund & Cancellation</a></li>
                </ul>

                <h2 class="animate__animated wow animate__fadeInUp">Blogs</h2>

                <ul class="p-0 m-0 animate__animated wow animate__fadeInUp">
                  <li>
                    <a
                      href="https://oneteenagedream.wordpress.com/2018/12/02/change/"
                      >Change</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://oneteenagedream.wordpress.com/2018/09/21/e-go/"
                      >E-Go!</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://oneteenagedream.wordpress.com/2018/07/09/stop%f0%9f%9b%91look%e2%9c%89%ef%b8%8fgo%e2%9c%94%ef%b8%8f/"
                      >Stop Look Go</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://drivekraft.home.blog/2020/09/09/youre-not-alone/"
                      >You’re not alone</a
                    >
                  </li>
                </ul>
              </div>
              <!-- .foot-links -->
            </div>
            <!-- .col -->
          </div>
          <!-- .row -->
        </div>
        <!-- .container -->
      </div>
      <!-- .footer-widgets -->
    </footer>
    <!-- .site-footer -->

    <!-- script-->

    <script>

      function priceupdate ()
      {

        var country="";

         fetch('https://ipinfo.io/?token=d3e8164835018f')
          .then(function (response) {
              return response.json();
          })
          .then(function (payload) {
              country=payload.country;
              // console.log(payload.location.country.name + ', ' + payload.location.city);
              console.log(country);

              if(country=="IN"){
                document.getElementById("price").innerHTML="₹100/-";
              }

              if(country=="US"){
                document.getElementById("price").innerHTML="$25/-";
              }

              if(country=="ZA"){
                document.getElementById("price").innerHTML="R250/-";
              }

              if(country=="CA"){
                document.getElementById("price").innerHTML="CAD 30/-";
              }

              if(country=="DE"){
                document.getElementById("price").innerHTML="€ 25/-";
              }

              if(country=="NG"){
                document.getElementById("price").innerHTML="₦ 5000/-";
              }

              if(country=="PK"){
                document.getElementById("price").innerHTML="₨ 300/-";
              }

              if(country=="SA"){
                document.getElementById("price").innerHTML="SR 100/-";
              }

              if(country=="JP"){
                document.getElementById("price").innerHTML="¥ 3000/-";
              }

              if(country=="PH"){
                document.getElementById("price").innerHTML="₱ 700/-";
              }

              if(country=="GB"){
                document.getElementById("price").innerHTML="£ 25/-";
              }

              if(country=="KE"){
                document.getElementById("price").innerHTML="KES 2500/-";
              }

              if(country=="PL"){
                document.getElementById("price").innerHTML="Poland złoty 60/-";
              }







              console.log("done");
          });



    }

    </script>

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.collapsible.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.countdown.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/circle-progress.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.countTo.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.barfiller.js') }}"></script>
    <script src="{{ url_for('static', filename='js/animated-counter.js') }}"></script>
    <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <script type="text/javascript">
      document.getElementById('img1').click();
    </script>
    <script>
      new WOW().init();
    </script>
  </body>
</html>
