<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Terms || Drivekraft - Lending ears across the globe. Free Mental
      HealthCare Session
    </title>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="Indian Mental HealthCare StartUp Working on making Mental Health Servies  Affordable for everyone . WE provide Free Mental HealthCare Session across the globe"
    />

    <meta
      name="keywords"
      content="moodle, Drivekraft Free Online Therapy for Mental HealthCare"
    />
    <!-- Favicon -->
    <link rel="shortcut icon" href="./images/logo.png" type="image/x-icon" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="css/swiper.min.css" />

    <!-- Styles -->
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
    />
  </head>
  <body class="single-page">
    <header class="site-header">
      <div class="nav-bar">
        <div class="container">
          <div class="row">
            <div
              class="
                col-12
                d-flex
                flex-wrap
                justify-content-between
                align-items-center
              "
            >
              <div class="site-branding d-flex align-items-center">
                <a class="d-block" href="index.html" rel="home"
                  ><img class="d-block" src="images/logo.png" alt="logo"
                /></a>
              </div>
              <!-- .site-branding -->

              <nav
                class="
                  site-navigation
                  d-flex
                  justify-content-end
                  align-items-center
                "
              >
                <ul
                  class="
                    d-flex
                    flex-column flex-lg-row
                    justify-content-lg-end
                    align-items-center
                  "
                >
                  <li><a href="index.html">Home</a></li>
                  <li class="current-menu-item">
                    <a href="about.html">About Us</a>
                  </li>
                  <!-- <li><a href="services.html">Services</a></li>
                                <li><a href="news.html">News</a></li> -->
                  <li><a href="contact.html">Contact Us</a></li>
                  <li><a href="blog.html"> Our Blogs</a></li>

                  <li class="call-btn button gradient-bg mt-3 mt-md-0">
                    <a
                      class="d-flex justify-content-center align-items-center"
                      href="https://linktr.ee/drivekraft"
                      target="_blank"
                      ><img src="images/emergency-call.png" /> Book Appointment
                    </a>
                  </li>
                </ul>
              </nav>
              <!-- .site-navigation -->

              <div class="hamburger-menu d-lg-none">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
              <!-- .hamburger-menu -->
            </div>
            <!-- .col -->
          </div>
          <!-- .row -->
        </div>
        <!-- .container -->
      </div>
      <!-- .nav-bar -->
    </header>
    <!-- .site-header -->

    <div class="med-history">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-12 col-lg-12">
                    <h2 class="animate__animated wow animate__fadeInUp">REFUND & CANCELLATION </h2>
                    <p class="animate__animated wow animate__fadeInUp">
                        As a general rule Buyer shall not be entitled to cancel Session once placed. 
                        Buyer may choose to cancel session once  being placed. In such case he/she needed to mail at drivekraft@gmail.com regarding the same.
                        However, subject to Buyer’s previous cancellation history, 
                        DriveKraft reserves the right to deny any refund to Buyer pursuant to a cancellation initiated 
                        by Buyer.

                    </p>
                    <p class="animate__animated wow animate__fadeInUp">If Buyer cancels his/her Session after booking , Drivekraft shall have a right to collect a 
                        penalty of 100% of the Order amount for breach of contract terms
                    </p>


                    <p class="animate__animated wow animate__fadeInUp">
                        If Drivekraft fails to deliever session , the buyer is subjected to 100% refund within 7 Business Days
                    </p>

                    
                
                
                
                </div>
                






                    

                
            </div>
        </div>
    </div>

   

    <!-- Footer -->
    <footer class="site-footer">
      <div class="footer-widgets">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
              <div class="foot-about">
                <h2 class="animate__animated wow animate__fadeInUp">
                  <a href="#"><img src="./images/logo.png" alt="logo" /></a>
                </h2>

                <p class="animate__animated wow animate__fadeInUp">
                  Lending ears across The Globe
                </p>
                <ul class="list-unstyled mt-2">
                  <li
                    id="footerli"
                    class="
                      ftco-animate
                      fadeInUp
                      ftco-animated
                      animate__animated
                      wow
                      animate__fadeInUp
                    "
                    style="padding: 5px"
                  >
                    <a href="https://twitter.com/drivekraft?s=09"
                      ><span class="fa fa-twitter"></span
                    ></a>
                  </li>
                  <li
                    id="footerli"
                    class="
                      ftco-animate
                      fadeInUp
                      ftco-animated
                      animate__animated
                      wow
                      animate__fadeInUp
                    "
                    style="padding: 5px"
                  >
                    <a
                      href="https://m.facebook.com/profile.php?id=100274821373124&amp;ref=content_filter"
                      ><span class="fa fa-facebook"></span
                    ></a>
                  </li>
                  <li
                    id="footerli"
                    class="
                      ftco-animate
                      fadeInUp
                      ftco-animated
                      animate__animated
                      wow
                      animate__fadeInUp
                    "
                    style="padding: 5px"
                  >
                    <a
                      href="https://instagram.com/drivekraft?igshid=13zqwmhvhypxc"
                      ><span class="fa fa-instagram"></span
                    ></a>
                  </li>
                </ul>
                <p class="copyright animate__animated wow animate__fadeInUp">
                  Copyright &copy;
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  All rights reserved
                </p>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-2 mt-md-0">
              <div class="foot-contact">
                <h2 class="animate__animated wow animate__fadeInUp">Contact</h2>

                <ul class="p-0 m-0 animate__animated wow animate__fadeInUp">
                  <li>
                    <span>Address:</span>Steps Building, Thapar Institute of
                    Engineering and technology, Patiala, Punjab
                  </li>
                  <li><span>Phone:</span>+91-8284990439</li>
                  <li><span>Email:</span>drivekraft@gmail.com</li>
                </ul>
              </div>
            </div>
            <!-- .col -->

            <div class="col-12 col-md-6 col-lg-4 mt-2 mt-md-0">
              <div class="foot-links">
                <h2 class="animate__animated wow animate__fadeInUp">
                  Important Links
                </h2>
                <ul class="p-0 m-0 animate__animated wow animate__fadeInUp">
                  <li><a href="terms.html">Terms And Conditions</a></li>
                  <li><a href="privacyPolicy.html">Privacy Policy</a></li>
                  <li><a href="refundPolicy.html">Refund & Cancellation</a></li>
                </ul>

                <h2 class="animate__animated wow animate__fadeInUp">Blogs</h2>

                <ul class="p-0 m-0 animate__animated wow animate__fadeInUp">
                  <li>
                    <a
                      href="https://oneteenagedream.wordpress.com/2018/12/02/change/"
                      >Change</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://oneteenagedream.wordpress.com/2018/09/21/e-go/"
                      >E-Go!</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://oneteenagedream.wordpress.com/2018/07/09/stop%f0%9f%9b%91look%e2%9c%89%ef%b8%8fgo%e2%9c%94%ef%b8%8f/"
                      >Stop Look Go</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://drivekraft.home.blog/2020/09/09/youre-not-alone/"
                      >You’re not alone</a
                    >
                  </li>
                </ul>
              </div>
              <!-- .foot-links -->
            </div>
            <!-- .col -->
          </div>
          <!-- .row -->
        </div>
        <!-- .container -->
      </div>
      <!-- .footer-widgets -->
    </footer>
    <!-- .site-footer -->

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery.collapsible.min.js"></script>
    <script type="text/javascript" src="js/swiper.min.js"></script>
    <script type="text/javascript" src="js/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="js/circle-progress.min.js"></script>
    <script type="text/javascript" src="js/jquery.countTo.min.js"></script>
    <script type="text/javascript" src="js/jquery.barfiller.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>

    <script src="js/wow.min.js"></script>
    <script>
      new WOW().init();
    </script>
  </body>
</html>
